@model MarkInfotech.Models.tbl_user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isinterestedinC_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isinterestedinC_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isinterestedinjava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isinterestedinjava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isinterestedinpython)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isinterestedinpython)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_city.cityname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_city.cityname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
