@model MarkInfotech.Models.tbl_user

@{
    ViewBag.Title = "Login";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RegisterStyleSheet/LoginStyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div id="LoginFormLayout">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6" id="loginform">
                    <h3>Login</h3>

                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <form class="form-horizontal ">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glypicon glyphicon-user"></i></span>
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter User Name" } })
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    }
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-6" id="loginimage">
        <img src="~/Content/images/Iconshock-Cms-User-login.ico" alt="Alternate Text" class="img-responsive" />
    </div>
</body>

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_user</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
